@import '../../../../styles/variables';

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input {
    flex: 1;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 12px;
}

.search-container button {
    font-size: 16px;
    box-sizing: border-box;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.action-buttons .switch {
    margin-right: 10px;
}

.active {
    color: $secondary-color;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #00d991;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        cursor: pointer;
    }
}

.action-buttons {
    display: flex;
    align-items: center;

    .switch {
        margin-right: 10px;
    }
}

.delete-button {
    color: #c30606;
    background-color: #ffe4e4;
    margin-left: 8px;
}

.delete-button:hover {
    background-color: #fecfcf;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    span {
        margin: 0 10px;
    }
}