@import '../../../../styles/variables';

.header {
    background-color: $primary-color;
    padding: 16px 0;
    color: white;

    h1 {
        margin: 0;
        font-size: 24px;
    }

    nav {
        a {
            color: white;
            margin-right: 16px;
            font-weight: 500;

            &:hover {
                color: lighten($secondary-color, 20%);
            }
        }
    }
}