body {
    background-color: #f7f9fc;
    font-family: 'Roboto', sans-serif;
}

.card {
    border-radius: 10px;
}

.btn-primary {
    background-color: #9923fa;
    border-color: #9923fa;
}

.btn-primary:hover {
    background-color: #8320d5;
    border-color: #8320d5;
}