<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="firstname"/>
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()">
          Search
        </button>
        <img [src]="itemImageUrl" width="40px" height="40px">
      </div>
    </div>
    <p>You're searching {{firstname}}</p>
    <!-- <input #box (keyup)="0"> <p>{{box.value}}</p> -->
  </div>
  <div class="col-md-6">
    <h4>Customers List</h4>
    <ul class="list-group">
      @for (customer of customers; track customer.id; let i = $index) {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveCustomer(customer, i)"
      >
        {{ customer.firstname }}
      </li>
      }
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCustomers()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-customer-detail
      [viewMode]="false"
      [currentCustomer]="currentCustomer"
    ></app-customer-detail>
  </div>
</div>
